[submodule "backend"]
	path = backend
	url = https://github.com/woonat01/SmartThingsWebAPP-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/woonat01/CYBR8470-building-a-webservice-lab-frontend
