<div class="layout-row landing-page-container">
  <div class="layout-column flex">
    {{#paper-card class="landing-page-card" as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}Welcome to the SmartThings Weather App{{/text.headline}}
          <br>
          <p>This is for SmartThings integration. The front end doesn't do anything special.</p>
        {{/title.text}}
      {{/card.title}}
      {{#card.content}}
        <div class="layout-row">
          {{#paper-button class="flex" raised=true onClick=(transition-to "awards")}}Broken{{paper-icon "send"}}{{/paper-button}}
        </div>
      {{/card.content}}

    {{/paper-card}}
  </div>
</div>
